.pomodoro-conteiner {
    display: flex;
    flex-direction: row;
    width: 70%;
    max-width: 2000px;
    margin: 48px auto;
    gap: 3rem;
    align-items: center;
    padding-bottom: 24px;
}

.conteiner-background {
    border-radius: var(--medium-space, 1rem);
    background: var(--background, rgba(0, 0, 0, 0.24));
    box-shadow: 7px 8px 18.8px 0px rgba(0, 0, 0, 0.61);

    padding: 1rem;
}

.timer-conteiner {
    display: flex;
    max-width: 500px;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

.controls-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.controls-buttons button {
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    background: rgba(146, 146, 146, 0.15);
    color: var(--g02, #EDEDED);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
    opacity: .8;
}

.controls-buttons button:nth-child(2) {
    border-radius: 2rem;
    padding: 2rem 3rem;
    opacity: 0.9;
}

.controls-buttons button:hover {
    transition: 0.3s;
    opacity: 1;
}

.conteiner-info-session {
    display: flex;
    width: 100%;
    max-width: 1200px;
    min-height: 550px;
    max-height: 600px;
    flex-direction: column;
    gap: 1.3rem;
    align-self: stretch;
}

.conteiner-info-session h2 {
    color: var(--HeadLine-1, #ECECEC);
    font-family: Syne;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 85%;
}

.conteiner-info-session span {
    color: #B3B3B3;
    font-family: "Roboto Flex", sans-serif;
    font-size: 0.875rem;
    line-height: 85%;
}

@media (max-width: 1024px) {
    .pomodoro-conteiner {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .timer-conteiner {
        height: auto;
    }

    .controls-buttons button {
        padding: 1.2rem 1.7rem;
    }
    .controls-buttons button:nth-child(2) {
        padding: 1.5rem 2.5rem;
    }
}

@media (max-width: 300px) {
    .controls-buttons button {
        padding: 1rem 1.5rem;
    }
    .controls-buttons button:nth-child(2) {
        padding: 1rem 2rem;
    }
}