.timer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14rem;
    font-weight: 800;
    line-height: 85%;
    font-family: Roboto Flex;
}

@media (max-width: 474px) {
    .timer {
        font-size: 10rem;
    }
}
